/* TODO: divide css declarations into specific elements, add comments for each element */

:root {
  --dm4c-10: #1a1a1a;
  --dm4c-15: #262626;
  --dm4c-15-50: #26262650;
  --dm4c-20: #333333;
  --dm4c-25: #404040;
  --dm4c-30: #4d4d4d;
  --dm4c-35: #595959;
  --dm4c-40: #666666;
  --dm4c-45: #737373;
  --dm4c-50: #808080;
  --dm4c-60: #999999;
  --dm4c-70: #b3b3b3;
  --dm4c-80: #cccccc;
  --dm4c-90: #e6e6e6;
  --dm4c-95: #f2f2f2;
  --dm4c-accent: #8e99f3;
  --dm4c-warn: #d32f2f;
  /* overrides */
  --qBMHb-placeholderColor: var(--dm4c-40);
}

@font-face {
  font-family: "gsansmono";
  src: url("https://fonts.gstatic.com/s/googlesansmono/v4/P5sZzYWFYtnZ_Cg-t0Uq_rfivrdYNYhsAg.woff2") format("woff2");
}

* {
  font-family: "gsansmono", monospace !important;
}

body {
  /* default background color */
  background: var(--dm4c-10);
}

.fLzZc_bGBk {
  background-color: var(--dm4c-10);
}

.eHiXd_eYmo:active,
.eHiXd_eYmo:focus,
.eHiXd_eYmo:hover,
a.eHiXd_eYmo:active,
a.eHiXd_eYmo:focus,
a.eHiXd_eYmo:hover,
button.eHiXd_eYmo:active,
button.eHiXd_eYmo:focus,
button.eHiXd_eYmo:hover,
button.eHiXd_eYmo[type="button"]:active,
button.eHiXd_eYmo[type="button"]:focus,
button.eHiXd_eYmo[type="button"]:hover,
button.eHiXd_eYmo[type="reset"]:active,
button.eHiXd_eYmo[type="reset"]:focus,
button.eHiXd_eYmo[type="reset"]:hover,
button.eHiXd_eYmo[type="submit"]:active,
button.eHiXd_eYmo[type="submit"]:focus,
button.eHiXd_eYmo[type="submit"]:hover,
.dLyYq_bXiG {
  color: #262626;
}

/**


        !buttons


*/

/* invisible button hover accent color */
.eHiXd_brAJ:active,
.eHiXd_brAJ:focus,
.eHiXd_brAJ:hover,
a.eHiXd_brAJ:active,
a.eHiXd_brAJ:focus,
a.eHiXd_brAJ:hover,
button.eHiXd_brAJ:active,
button.eHiXd_brAJ:focus,
button.eHiXd_brAJ:hover,
button.eHiXd_brAJ[type="button"]:active,
button.eHiXd_brAJ[type="button"]:focus,
button.eHiXd_brAJ[type="button"]:hover,
button.eHiXd_brAJ[type="reset"]:active,
button.eHiXd_brAJ[type="reset"]:focus,
button.eHiXd_brAJ[type="reset"]:hover,
button.eHiXd_brAJ[type="submit"]:active,
button.eHiXd_brAJ[type="submit"]:focus,
button.eHiXd_brAJ[type="submit"]:hover {
  color: var(--dm4c-accent);
}

button,
.btn,
.Button,
.ui-button {
  border: 2px solid var(--dm4c-60);
  outline: none;
  border-radius: 12px;
  color: inherit;
  background: var(--dm4c-40);
  font-size: 14px;
  box-sizing: border-box;
  padding: 8px 12px;
}

/* icon buttons */
.Button--icon-action,
.Button--icon-action-rev {
  color: var(--dm4c-80);
}

.btn:focus,
.Button:focus,
.ui-button:focus {
  color: var(--dm4c-90);
}

/* small buttons */
.btn-small,
.Button--small {
  padding: 4px 8px;
}

/* standard button hover */
.btn:hover.ui-state-hover,
.Button:hover.ui-state-hover,
.ui-button:hover.ui-state-hover {
  background: var(--dm4c-40);
  color: inherit;
  border: 2px solid var(--dm4c-60);
}

/* standard button hover */
.btn:hover,
.Button:hover,
.ui-button:hover {
  background: var(--dm4c-40);
  color: inherit;
}

/* primary button hover */
.btn-primary:hover,
.Button--primary:hover {
  background: var(--dm4c-accent);
}

/* primary button hover */
.btn-primary:hover.ui-state-hover,
.Button--primary:hover.ui-state-hover {
  background: var(--dm4c-accent);
  color: var(--dm4c-90);
  border: 2px solid var(--dm4c-60);
}

/**


        !dashboard


*/

/* left container */
.ic-Layout-contentMain {
  padding: 24px 0;
  margin: 24px;
}

/* course card badge */
.ic-DashboardCard__action-badge {
  background: var(--dm4c-accent);
}

/* more actions for course card */
.Button--icon-action,
.Button--icon-action-rev {
  padding: 2px 4px;
  font-size: 1rem;
}

/* input fields */
.cCAhm_bGBk {
  margin-right: 12px;
}

/* apply button */
.eHiXd_cuTS,
a.eHiXd_cuTS,
button.eHiXd_cuTS,
button.eHiXd_cuTS[type="button"],
button.eHiXd_cuTS[type="reset"],
button.eHiXd_cuTS[type="submit"] {
  border-radius: 8px;
}

/* apply button */
.eHiXd_bXiG,
a.eHiXd_bXiG,
button.eHiXd_bXiG,
button.eHiXd_bXiG[type="button"],
button.eHiXd_bXiG[type="reset"],
button.eHiXd_bXiG[type="submit"] {
  background: var(--dm4c-accent);
  border: inherit;
  color: var(--dm4c-90);
}

/* apply button hover */
.eHiXd_bXiG:active,
.eHiXd_bXiG:hover,
a.eHiXd_bXiG:active,
a.eHiXd_bXiG:hover,
button.eHiXd_bXiG:active,
button.eHiXd_bXiG:hover,
button.eHiXd_bXiG[type="button"]:active,
button.eHiXd_bXiG[type="button"]:hover,
button.eHiXd_bXiG[type="reset"]:active,
button.eHiXd_bXiG[type="reset"]:hover,
button.eHiXd_bXiG[type="submit"]:active,
button.eHiXd_bXiG[type="submit"]:hover {
  background: var(--dm4c-accent);
}

/* apply button */
.eHiXd_bXiG:active,
.eHiXd_bXiG:focus,
.eHiXd_bXiG:hover,
a.eHiXd_bXiG:active,
a.eHiXd_bXiG:focus,
a.eHiXd_bXiG:hover,
button.eHiXd_bXiG:active,
button.eHiXd_bXiG:focus,
button.eHiXd_bXiG:hover,
button.eHiXd_bXiG[type="button"]:active,
button.eHiXd_bXiG[type="button"]:focus,
button.eHiXd_bXiG[type="button"]:hover,
button.eHiXd_bXiG[type="reset"]:active,
button.eHiXd_bXiG[type="reset"]:focus,
button.eHiXd_bXiG[type="reset"]:hover,
button.eHiXd_bXiG[type="submit"]:active,
button.eHiXd_bXiG[type="submit"]:focus,
button.eHiXd_bXiG[type="submit"]:hover {
  color: var(--dm4c-80);
}

/* show grades button/link */
#right-side .button-sidebar-wide {
  margin: 0;
  margin-bottom: 8px;
  width: fit-content;
}

/* non-sticky dashboard header */
.ic-Dashboard-header,
body.dashboard-is-planner .ic-Dashboard-header {
  position: relative;
}

/* show more activity */
.fake-link {
  color: var(--dm4c-accent);
}

/* date for show more activities */
.responsive_awareness .stream-details .date {
  color: var(--dm4c-80);
}

/* show more activity unread dot */
.recent_activity>li .unread {
  background-color: var(--dm4c-accent);
}

/* icons */
.standalone-icon:before {
  color: var(--dm4c-60);
}

/* unpublished courses title */
.unpublished_courses_redesign .ic-DashboardCard__box__header {
  background: transparent;
  border-bottom: 1px solid var(--dm4c-25);
}

/* course card */
.ic-DashboardCard {
  border-radius: 8px;
  background: var(--dm4c-15);
}

/* course card header */
.ic-DashboardCard__header_content {
  background: transparent;
}

/* dashboard title */
.ic-Dashboard-header__layout {
  background: transparent;
}

/* recent activity item */
.stream_header {
  border-radius: 8px;
}

/* recent activity item hover */
.stream_header:hover {
  background: var(--dm4c-25);
}

/* recent activity item show more hover */
.stream-details tr:hover {
  background: transparent;
}

/* recent activity item show more */
.stream-details tr {
  border-top: 1px solid var(--dm4c-25);
}

/* recent activity item show more close */
.close {
  text-shadow: none;
  color: var(--dm4c-60);
}

/* recent activity item show more close hover */
.close:hover,
.close:focus {
  color: var(--dm4c-80);
}

/* three dot button */
.eHiXd_bGBk::before,
a.eHiXd_bGBk::before,
button.eHiXd_bGBk::before,
button.eHiXd_bGBk[type="button"]::before,
button.eHiXd_bGBk[type="reset"]::before,
button.eHiXd_bGBk[type="submit"]::before {
  border-color: var(--dm4c-accent);
}

/* three dot menu */
.cAqHo_eAjd::before {
  border-color: var(--dm4c-accent);
}

/* three dot menu */
.fOyUs_fZwI,
.fOyUs_kXoP {
  background: var(--dm4c-15);
}

/* three dot menu */
.cAqHo_eAjd {
  background: transparent;
}

/* three dot menu title */
.eoNrR_blJt {
  background: transparent;
  color: var(--dm4c-90);
}

/* three dot menu options */
.sJGfW_bGBk {
  background: transparent;
}

/* three dot menu option text */
.sJGfW_blJt {
  color: var(--dm4c-60);
}

/* three dot menu option separator */
.dpuxe_bGBk {
  background: var(--dm4c-25);
}

/* three dot menu option hover */
.sJGfW_bGBk.sJGfW_cSen,
.sJGfW_bGBk:active,
.sJGfW_bGBk:focus,
.sJGfW_bGBk:hover,
.sJGfW_bGBk[aria-expanded="true"] {
  background: var(--dm4c-25);
}

/* three dot menu option hover text */
.sJGfW_bGBk.sJGfW_cSen .sJGfW_blJt,
.sJGfW_bGBk:active .sJGfW_blJt,
.sJGfW_bGBk:focus .sJGfW_blJt,
.sJGfW_bGBk:hover .sJGfW_blJt,
.sJGfW_bGBk[aria-expanded="true"] .sJGfW_blJt {
  color: var(--dm4c-80);
}

/**


        !syllabus


*/

/* syllabus table */
#syllabus tr.detail_list td.not_last {
  border-bottom: 1px solid var(--dm4c-25);
}

/**


        !side menu/!menu list


*/

/* menu item badge */
.menu-item__badge {
  background: var(--dm4c-accent);
}

/* focus side bar item */
.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link:focus {
  box-shadow: inset 0 0 0 1px var(--dm4c-accent),
    inset 0 0 0 2px var(--dm4c-accent);
}

/* side menu links text color */
.ic-app-footer__links a,
.ic-app-header__menu-list-link,
.ic-DashboardCard__header-term,
.fOyUs_fKyb {
  color: var(--dm4c-60);
}

/* side menu hover */
.ic-app-header__menu-list-link:hover,
.ic-app-header__menu-list-link:focus {
  background-color: var(--dm4c-15);
}

/* side menu items */
.ic-app-header__menu-list-link {
  border-radius: 8px;
}

/* side menu items svg color */
.ic-app-header__menu-list-link .ic-icon-svg {
  fill: var(--dm4c-60);
}

/* active item */
.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
  background: var(--dm4c-15);
}

/* active item text */
body.primary-nav-expanded .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
  color: var(--dm4c-90);
}

/* active item svg */
.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-icon-svg {
  fill: var(--dm4c-90);
}

/**


        !recent activity card
           
        
*/

.recent-activity-header {
  border: none;
}

/* links in the recent activity header */
.recent_activity>li .links {
  font-size: 14px;
}

/* items in the recent activity card */
.recent_activity>li {
  border: none;
}

/* show more option in recent activity card */
.stream_header .toggle-details {
  font-size: 14px;
}

/* recent acitivity icon */
.recent_activity .image-block-image i:before {
  color: var(--dm4c-40);
  font-size: 20px;
}

.recent_activity>li .unread-count {
  background: var(--dm4c-accent);
}

/**


        !todo list card


*/

.Sidebar__TodoListContainer {
  background-color: var(--dm4c-15);
  border-radius: 8px;
  padding: 18px;
  border: 1px solid var(--dm4c-25);
}

/* todo list/three dot menu checkmark icon color */
.esvoZ_drOs {
  color: var(--dm4c-80);
}

/* todo list item padding */
.ToDoSidebarItem__Info {
  padding: 0 8px 0 16px;
}

/* todo card on class homepage */
.eHiXd_brAJ,
a.eHiXd_brAJ,
button.eHiXd_brAJ,
button.eHiXd_brAJ[type="button"],
button.eHiXd_brAJ[type="reset"],
button.eHiXd_brAJ[type="submit"] {
  color: var(--dm4c-80);
}

/**


        !class page calendar


*/

.mini_month {
  padding: 0;
  border-radius: 8px;
  border: 1px solid var(--dm4c-25);
}

.mini-cal-header {
  border: none;
  background-color: #262626;
  border-radius: 8px 8px 0 0;
  color: #e6e6e6;
}

.mini_calendar {
  border: none;
  background-color: #262626;
  border-radius: 0 0 8px 8px;
}

/* today background color */
.mini_calendar .day.today {
  background-color: #8e99f3;
}

/** 


        !links


*/

a {
  text-decoration: none !important;
  color: var(--dm4c-accent);
}

a:focus,
a:hover {
  color: var(--dm4c-90) !important;
}

/**


        !images


*/

img {
  border-radius: 8px;
}

/**


        !canvas text editor


*/

/* bottom bar separator */
._t93g8g {
  border-right: 1px solid var(--dm4c-25) !important;
}

/* bottom bar button hover */
.fQfxa_bGBk:hover .fQfxa_bCUx.fQfxa_eCSh {
  background: var(--dm4c-40);
}

/* bottom bar */
[data-testid="RCEStatusBar"] {
  justify-content: center;
  border: 2px solid var(--dm4c-40);
  border-radius: 8px;
  padding: 4px 12px;
  margin: 0 !important;
  margin-top: 12px !important;
}

/* editor focus */
.tox .tox-edit-area.active,
.tox .tox-edit-area.active iframe {
  border-color: var(--dm4c-accent);
}

/* editor bottom bar */
.canvas-rce__skins--root {
  background-color: transparent;
}

/* border style editor css class */
.tox.tox-tinymce {
  border-radius: 8px;
}

/**


        !quizzes/!quiz/!questions


*/

/* numerical answer */
#questions .short_answer_question .answers_wrapper,
#questions .numerical_question .answers_wrapper {
  border-top: 1px solid var(--dm4c-25);
}

/* multiple blanks */
.question.fill_in_multiple_blanks_question .answer_group,
.question.multiple_dropdowns_question .answer_group {
  border-top: 1px solid var(--dm4c-25);
}

/* question header question name */
#questions.assessment_results .question .header .name {
  padding: 0;
  flex: 1;
}

/* question header points */
.question .header .question_points_holder {
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: end;
}

/* question header */
#questions.assessment_results .question .header {
  background-color: transparent;
  display: flex;
  align-items: center;
}

/* textarea */
.question textarea {
  border: 2px solid var(--dm4c-40);
}

/* last saved */
#last_saved_indicator {
  color: var(--dm4c-60);
}

/* question content */
#questions.assessing .question_holder .question {
  margin: 0;
  margin-bottom: 24px;
}

/* answered question results */
#questions.assessment_results .question_holder .question {
  margin: 24px;
}

/* right side */
div#quiz-time-elapsed {
  border: 1px solid var(--dm4c-25);
  background-color: var(--dm4c-15);
  padding: 12px 18px;
  border-radius: 8px;
  width: fit-content;
}

/* questions list */
a.no-warning {
  color: inherit;
}

/* quiz score */
.quiz_score .score_value {
  color: var(--dm4c-accent);
}

/* attempt history bottom text */
#quiz-submission-version-table .submission-pending-review {
  margin-left: 0;
  color: var(--dm4c-60);
}

/* attempt history card */
#quiz-submission-version-table {
  border: 1px solid var(--dm4c-25);
  background-color: var(--dm4c-15);
  padding: 18px;
  border-radius: 8px;
}

/* attempt history */
.ic-Table th.ic-Table--header-row {
  border-bottom-color: var(--dm4c-25);
}

/* quiz instructions */
div#quiz-instructions {
  margin-bottom: 24px;
}

/* bottom bar */
.form-actions {
  border: 1px solid var(--dm4c-25);
  border-radius: 8px;
  background: var(--dm4c-15);
  margin: 0;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* question links */
ul#question_list li.list_question {
  color: var(--dm4c-40);
}

/* current question */
ul#question_list li.answered.current_question a {
  color: var(--dm4c-80);
}

/* seen question */
ul#question_list li.seen {
  color: var(--dm4c-40);
}

/* current question */
ul#question_list li.current_question {
  color: var(--dm4c-90) !important;
}

/* answered question */
ul#question_list li.answered a {
  color: var(--dm4c-accent);
}

/* upload box */
.question_holder .display_question .file-upload-question-holder .file-upload-box {
  border-radius: 8px;
}

/* question */
#questions.assessing {
  background: transparent;
  min-height: inherit;
}

/* quiz detail values */
#quiz_show ul#quiz_student_details li .value {
  color: var(--dm4c-80);
}

.btn-published,
.btn-published:hover {
  background: var(--dm4c-accent);
  border: none;
}

/* related items */
.page-action-list a {
  color: var(--dm4c-accent);
  border-bottom: 1px solid var(--dm4c-25);
}

/* related items */
.page-action-list a:hover,
.page-action-list a:focus {
  color: var(--dm4c-accent);
}

/* published button */
.btn-published.disabled,
.btn-published.ui-button.ui-state-disabled,
.btn-published.disabled:hover {
  background: var(--dm4c-accent);
  border: none;
}

/* published color */
.publish-icon.publish-icon-published {
  color: var(--dm4c-accent);
}

/* quiz description */
#quiz_show .description.teacher-version {
  border: 1px solid var(--dm4c-25);
  background-color: var(--dm4c-15);
  border-radius: 8px;
}

/* question group */
#questions .group_top {
  background-color: var(--dm4c-15);
  border: 1px solid var(--dm4c-25);
}

/* form answers comments */
form.question_form .form_answers .answer_comments {
  padding: 12px 18px;
}

/* form answer */
.form_answers {
  margin-bottom: 12px;
}

/* question form comment */
form.question_form .comment {
  border-radius: 8px;
}

/* answer form option */
form.question_form .form_answers .answer.hover {
  border: 1px solid var(--dm4c-35);
  background-color: var(--dm4c-20);
}

/* answer form option */
form.question_form .form_answers .answer {
  border: 1px solid var(--dm4c-25);
  border-radius: 8px;
  margin-top: 12px;
  padding: 18px;
}

/* quiz answer comment arrow */
.quiz_comment:before {
  border-bottom-color: var(--dm4c-25);
}

/* quiz answer comment arrow */
.quiz_comment:after {
  border-bottom-color: var(--dm4c-25);
}

/* quiz answer comment */
.quiz_comment {
  background-image: none;
  background-color: var(--dm4c-15);
  border: 1px solid var(--dm4c-25);
}

/* question border */
.question.multiple_choice_question .answer,
.question.multiple_answers_question .answer,
.question.matching_question .answer,
.question.true_false_question .answer {
  border-top: 1px solid var(--dm4c-25);
}

/* question points */
.question .header .question_points_holder {
  color: var(--dm4c-60);
}

/* question header */
.question .header {
  background-color: transparent;
  border-bottom: 1px solid var(--dm4c-25);
}

/* question editor */
.question {
  background-color: var(--dm4c-15);
  border-radius: 8px;
  border: 1px solid var(--dm4c-25);
}

/* tab focus */
.ui-tabs .ui-tabs-nav li.ui-state-focus,
.ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-active {
  background: var(--dm4c-15);
  border-color: var(--dm4c-25);
}

/* tab border radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 8px;
}

/* tab border radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 8px;
}

/* tab link */
.ui-tabs .ui-tabs-nav li a {
  color: var(--dm4c-accent);
}

/* tab link */
.ui-tabs .ui-tabs-nav li.ui-state-hover a,
.ui-tabs .ui-tabs-nav li:hover a {
  color: var(--dm4c-accent);
}

/* hover on tab */
.ui-tabs .ui-tabs-nav li.ui-state-hover,
.ui-tabs .ui-tabs-nav li:hover {
  background-color: var(--dm4c-15);
  border-color: var(--dm4c-25);
}

/* quiz submission */
.quiz-submission,
.question_editing {
  border: 1px solid var(--dm4c-25);
  background: var(--dm4c-15);
  border-radius: 8px;
  padding: 18px;
}

/* quiz editor */
#quiz_edit_wrapper #quiz_tabs #questions_tab {
  background: transparent;
}

/* popup auto-save background */
.fvvQs_bGBk {
  background: var(--dm4c-15-50);
}

/* popup auto-save bottom part */
.dNoYT_bGBk {
  background: var(--dm4c-15);
  border-top: 1px solid var(--dm4c-25);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* popup auto-save */
.fOyUs_fZwI,
.fOyUs_kXoP {
  color: var(--dm4c-90);
}

/* popup auto-save */
.fdyuz_bGBk {
  border: 1px solid var(--dm4c-25);
  background: var(--dm4c-15);
  color: var(--dm4c-90);
  border-radius: 8px;
}

/* popup auto-save header */
.cDMBL_bGBk {
  background: transparent;
  border-bottom-color: var(--dm4c-25);
}

/* quiz editor container */
#quiz_edit_wrapper {
  background-color: transparent;
}

/* quiz editor tabs */
.ui-tabs .ui-tabs-panel {
  background-color: transparent;
}

/* left lablels of quiz info */
#quiz_show .control-group .control-label {
  color: var(--dm4c-60);
}

/* quiz editor option group */
#quiz_edit_wrapper #quiz_tabs #quiz_options_form .option-group {
  background-color: var(--dm4c-15);
  border: 1px solid var(--dm4c-25);
  border-radius: 8px;
}

/* quiz editor option group hover */
#quiz_edit_wrapper #quiz_tabs #quiz_options_form .option-group>label.checkbox:hover:before {
  background-color: var(--dm4c-25);
}

/* quiz editor assign to box */
.Container__DueDateRow {
  background-color: var(--dm4c-15);
  border: 1px solid var(--dm4c-25);
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

/* quiz editor add to assign box */
.Button.Button--add-row {
  border: 1px solid var(--dm4c-25);
  border-top: none;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* quiz editor assign to box */
.Container__DueDateRow-item {
  border-bottom: 1px solid var(--dm4c-25);
}

/* quiz editor bottom options */
#quiz_edit_actions {
  border: 1px solid var(--dm4c-25);
  border-radius: 8px;
  background-color: var(--dm4c-15);
}

/* top part of quiz */
.quiz-header {
  border-bottom: none;
}

/* footer button container */
.module-sequence-footer .module-sequence-footer-content {
  background: transparent;
  border-top: none;
}

/**


        !input/!inputs/!select
        note: these declarations overlap for some reason


*/

/* score details */
.ic-Table tbody th {
  border-bottom-color: var(--dm4c-25);
}

/* checkboxes */
.ic-Form-control.ic-Form-control--checkbox input[type="checkbox"]:checked~.ic-Label:before {
  background-color: var(--dm4c-accent);
  border-color: var(--dm4c-accent);
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid var(--dm4c-35);
  outline: none;
  border-radius: 12px;
  color: #e6e6e6;
  background: var(--dm4c-25);
  font-size: 14px;
}

/* textfield focus */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--dm4c-accent);
}

/* textfield focus */
select.ic-Input:focus,
textarea.ic-Input:focus,
input[type="text"].ic-Input:focus,
input[type="password"].ic-Input:focus,
input[type="datetime"].ic-Input:focus,
input[type="datetime-local"].ic-Input:focus,
input[type="date"].ic-Input:focus,
input[type="month"].ic-Input:focus,
input[type="time"].ic-Input:focus,
input[type="week"].ic-Input:focus,
input[type="number"].ic-Input:focus,
input[type="email"].ic-Input:focus,
input[type="url"].ic-Input:focus,
input[type="search"].ic-Input:focus,
input[type="tel"].ic-Input:focus,
input[type="color"].ic-Input:focus,
.uneditable-input.ic-Input:focus {
  border-color: var(--dm4c-accent);
}

select.ic-Input,
textarea.ic-Input,
input[type="text"].ic-Input,
input[type="password"].ic-Input,
input[type="datetime"].ic-Input,
input[type="datetime-local"].ic-Input,
input[type="date"].ic-Input,
input[type="month"].ic-Input,
input[type="time"].ic-Input,
input[type="week"].ic-Input,
input[type="number"].ic-Input,
input[type="email"].ic-Input,
input[type="url"].ic-Input,
input[type="search"].ic-Input,
input[type="tel"].ic-Input,
input[type="color"].ic-Input,
.uneditable-input.ic-Input {
  background: var(--dm4c-25);
  border: 2px solid var(--dm4c-35);
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid var(--dm4c-35);
  outline: none;
  border-radius: 12px;
  color: #e6e6e6 !important;
  background: var(--dm4c-25);
  font-size: 14px;
  margin-bottom: 0;
}

/**


        !breadcrumbs


*/

.ic-app-crumbs,
#breadcrumbs a {
  color: var(--dm4c-60);
}

#breadcrumbs {
  background-color: transparent;
}

/** 


        !course menu toggle button


*/

button#courseMenuToggle.Button {
  background: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
}

button#courseMenuToggle.Button:hover {
  background: var(--dm4c-15);
}

/**


        !course homepage/!courses

        
*/

/* recent activities */
div#course_home_content {
  padding: 18px;
  background-color: var(--dm4c-15);
  border: 1px solid var(--dm4c-25);
  border-radius: 8px;
}

/* using modules popup */
.eesy_container_v4.eesy_light a {
  color: var(--dm4c-accent);
}

/* course row hover */
.course-list-table .course-list-table-row:hover {
  background-color: var(--dm4c-15);
}

/* mini calendar event day */
.mini_calendar .day.has_event {
  background-color: var(--dm4c-25);
}

/* mini calendar other month days */
.mini_calendar .day.other_month {
  color: var(--dm4c-40);
}

/* mini calendar day */
.mini_calendar .day {
  color: #cccccc;
  height: 36px;
  font-size: 14px;
  border-radius: 500px;
}

/* assignment weight card labels */
[aria-label="Assignment Weights"]>table>thead {
  color: var(--dm4c-40);
}

/* assignment weight */
table.summary td,
table.summary tbody th {
  border: none;
  border-bottom: 1px solid var(--dm4c-25);
}

/* mini calendar next button */
.mini-cal-header .next_month_link {
  padding: 4px 6px;
  background: transparent;
}

/* mini calendar prev button */
.mini-cal-header .prev_month_link {
  padding: 4px 6px;
  background: transparent;
}

/* todo item info */
.ctrLD_bGBk {
  color: var(--dm4c-40);
}

/* post to pill */
.DyQTK_ddES {
  background-color: var(--dm4c-40);
  border: none;
  border-radius: 500px;
  color: var(--dm4c-80);
}

/* post to input */
.qBMHb_cSXm::before {
  border-color: var(--dm4c-accent);
}

/* post to pill x button */
.DyQTK_ddES.DyQTK_erdA .DyQTK_dnnz {
  color: var(--dm4c-25);
}

/* post to pill x button hover */
.DyQTK_ddES.DyQTK_erdA:hover .DyQTK_dnnz {
  color: var(--dm4c-25);
}

/* post to pill hover */
.DyQTK_ddES.DyQTK_EwaR:hover {
  background-color: var(--dm4c-50);
}

/* post to dropdown */
.eqmZq_bGBk {
  background: transparent;
  color: var(--dm4c-80);
}

/* options title on new announcement page */
legend {
  color: var(--dm4c-90);
  border-bottom: 1px solid var(--dm4c-25);
}

/* post to title on new announcement page */
.fCrpb_egrg,
.fCrpb_egrg.fCrpb_fVUh,
label.fCrpb_egrg {
  color: var(--dm4c-90);
}

/* notification */
.ic-notification {
  border: 2px solid var(--dm4c-accent);
  box-shadow: none;
  border-radius: 8px;
}

/* bottom part of new announcement page */
.form-actions {
  border-top: 1px solid var(--dm4c-25);
}

/* notification content */
.ic-notification__content {
  background: var(--dm4c-15);
  border-radius: 8px;
}

/* notification icon */
.ic-notification__icon {
  background: var(--dm4c-accent);
  border-radius: 0;
}

/* notification message */
span.notification_message {
  color: var(--dm4c-80);
}

/* course status buttons */
.ui-buttonset .ui-button {
  margin: 0;
  border-radius: 6px;
}

/* course navigation toggle */
.ic-app-course-nav-toggle i[class*="icon-"]:before,
.ic-app-course-nav-toggle i[class^="icon-"]:before {
  font-size: 18px;
}

/* form popup */
.form-dialog .form-controls {
  background-color: transparent;
  border-top: 1px solid var(--dm4c-25);
}

/* form popup border */
.border {
  border-color: var(--dm4c-25);
}

/* form popup add prerequisite button */
.add_prerequisite_or_requirement_link {
  padding: inherit;
}

/* sticky left menu */
.ic-sticky-frame {
  top: 12px;
}

/* main class title */
.pages.show .course-title {
  color: var(--dm4c-90);
}

/* side bar text */
.jpyTq_bGBk {
  color: var(--dm4c-40);
}

/* side bar faq */
.fOyUs_dsNY,
.fOyUs_tIxX {
  border-color: var(--dm4c-25);
}

/* side bar bottom part */
.fOyUs_dUgE,
.fOyUs_bvKN {
  background: var(--dm4c-15);
}

/* link color */
a.fbyHH_bGBk,
button.fbyHH_bGBk {
  color: var(--dm4c-accent);
}

/* side bar exit button */
.fOyUs_fKyb {
  background: var(--dm4c-15);
}

/* side bar exit button focus */
.fOyUs_eWbJ.fOyUs_cBHs.fOyUs_fuTR::before {
  border-color: var(--dm4c-accent);
}

/* navigation bar links */
.list-view>ul>li>a,
.list-view>nav>ul>li>a,
.list-view>div>nav>ul>li>a {
  color: var(--dm4c-60);
}

/* active navigation item */
.list-view a.active {
  color: var(--dm4c-90);
  border-radius: 8px;
  border: none;
  background-color: var(--dm4c-15);
  padding: 8px 12px;
  font-weight: normal;
}

/* navigation bar icons */
.nav-icon {
  background: var(--dm4c-25);
  color: var(--dm4c-60);
}

/* announcement item */
.fOyUs_UeJS>.ic-item-row {
  padding: 4px 8px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  margin-bottom: 0;
}

/* annoucement posted on date */
.enRcg_bGBk.enRcg_bLsb,
input.enRcg_bGBk[type].enRcg_bLsb {
  color: var(--dm4c-40) !important;
}

/**


        !assignments


*/

/* assignment description */
#assignment_show .description.teacher-version {
  border: 1px solid var(--dm4c-25);
  background-color: var(--dm4c-15);
  border-radius: 8px;
}

/* assignment items */
.item-group-condensed .ig-row {
  background-color: var(--dm4c-15);
  color: var(--dm4c-90);
}

/* assignment detail bar */
#assignment_show .student-assignment-overview {
  border: none;
  background-color: var(--dm4c-15);
  border-radius: 8px;
  padding: 12px;
  width: initial;
}

/* quiz detail bar */
#quiz_show ul#quiz_student_details {
  border: 1px solid var(--dm4c-25);
  background-color: var(--dm4c-15);
  border-radius: 8px;
  padding: 12px;
  width: initial;
}

/* no assignments found text */
.ig-list .ig-row .ig-empty-msg {
  color: var(--dm4c-60);
}

/* no assignments found container */
.item-group-condensed .ig-list li:last-child .ig-row.ig-row-empty,
.item-group-condensed .ig-list li:last-of-type .ig-row.ig-row-empty,
.item-group-condensed .last_visible .ig-row.ig-row-empty {
  border: none;
}

/* assignment items */
.item-group-condensed .ig-row {
  border: none;
  border-bottom: 1px solid var(--dm4c-25);
  border-left: 1px solid var(--dm4c-25);
  border-right: 1px solid var(--dm4c-25);
}

/* first assignment item */
.item-group-condensed .ig-list li:first-child .ig-row,
.item-group-condensed .ig-list li:first-of-type .ig-row,
.item-group-condensed .first_visible .ig-row {
  border-top: 1px solid var(--dm4c-25);
}

/* first assignment item */
.item-group-condensed .ig-list li:first-child .ig-row,
.item-group-condensed .ig-list li:first-of-type .ig-row {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* last assignment item */
.item-group-condensed .ig-list li:last-child .ig-row,
.item-group-condensed .ig-list li:last-of-type .ig-row {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* assignment section headers */
.item-group-condensed .ig-header {
  border-radius: 8px;
  background-color: var(--dm4c-25);
  color: #e6e6e6;
  border: none;
  margin: 12px 0;
}

/* assignment drag handle */
.ig-list .icon-drag-handle {
  color: var(--dm4c-60);
}

/**


        !discussions


*/

/* discussion reply */
.discussion_entry {
  background: none;
}

.discussion-entries .entry {
  background: var(--dm4c-15);
  border: 1px solid var(--dm4c-25);
  border-radius: 12px;
}

.discussion-read-state {
  border: 1px solid var(--dm4c-accent);
  background: var(--dm4c-accent);
}

/** 


        !discussion topics page


*/

/* author avatar */
.avatar {
  background-color: var(--dm4c-40);
  border: 2px solid var(--dm4c-25);
}

.toolbarView {
  background: transparent;
}

.toolbarView .headerBar {
  background-color: var(--dm4c-15);
  border-radius: 8px;
  border: none;
}

.topic .entry-content {
  background-color: transparent;
  border: none;
}

.discussion_entry>.discussion-entry-reply-area {
  background-color: transparent;
  border: none;
}

/* text editor for replys */
.tox-tinymce {}

/* reply area */
.discussion_entry>.discussion-entry-reply-area {
  padding: 0;
}

/* link element with button function and form */
.discussion-reply-box {
  border: none;
  outline: none;
  border-radius: 6px;
  color: var(--dm4c-80);
  background: var(--dm4c-15);
  font-size: 14px;
  padding: 12px;
}

/* link element hover */
.discussion-reply-box:hover,
.discussion-reply-box:focus {
  background: var(--dm4c-25);
  color: var(--dm4c-80);
}

/* discussion publish date */
.discussion-pubdate,
.discussion-tododate {
  color: var(--dm4c-60);
  font-size: 14px;
}

/* discussion author */
.discussion-subtitle {
  font-size: 14px;
}

/**


        !external tools


*/

/* iframes */
iframe#tool_content {
  border-radius: 8px;
}

/**


          !users


*/

/* odd user rows */
.ic-Table.ic-Table--striped tbody tr:nth-child(odd) {
  background-color: var(--dm4c-15);
}

/* odd user rows names */
.ic-Table--striped tr:nth-child(odd) .roster_user_name {
  color: var(--dm4c-accent);
}

/* tabs */
.ui-tabs .ui-tabs-nav {
  border-color: var(--dm4c-25);
}

/* active tab */
.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
  background-color: var(--dm4c-15);
  border-color: var(--dm4c-25);
}

/* active tab */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  border-radius: 8px 8px 0 0;
}

/* active tab */
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: var(--dm4c-90);
}

/** 


        !announcements page


*/

/* default avatar */
.dsJBj_bGBk {
  background-color: var(--dm4c-40);
}

/* default avatar */
.dsJBj_bGBk:not(.dsJBj_cHTY) {
  border-color: var(--dm4c-25);
}

.qBMHb_cSXm {
  outline: none;
  border-radius: 12px;
  color: #e6e6e6;
  background: var(--dm4c-25);
  border: 2px solid #595959;
  font-size: 14px;
}

/* unread dot */
.cRLeC_bXiG {
  background-color: var(--dm4c-accent);
}

/* reply text under announcements */
.enRcg_bGBk.enRcg_fpfC,
input.enRcg_bGBk[type].enRcg_fpfC {
  color: var(--dm4c-accent);
}

/* default profile icon text color */
.dsJBj_ddES .dsJBj_eYKj {
  color: var(--dm4c-accent);
}

/* sections/todo item titles */
span.enRcg_bGBk.enRcg_doqw.enRcg_eQnG {
  color: var(--dm4c-80);
}

/* announcement preview */
.ic-item-row__content-col p,
.ic-item-row__content-col h4,
.ic-item-row__content-col .ic-announcement-row__content {
  color: var(--dm4c-40);
}

/* announcement item */
.ic-item-row {
  padding: 18px;
  background-color: var(--dm4c-15);
  border: 1px solid var(--dm4c-25);
  border-radius: 8px;
  margin-bottom: 12px;
}

/* announcement unread count pill */
.ic-unread-badge {
  margin: 0;
  background-color: var(--dm4c-accent);
}

/* announcement unread count pill right side */
.ic-unread-badge__total-count {
  background-color: var(--dm4c-25);
}

/* container for announcement unread count pill */
.ic-item-row__meta-col .ic-item-row__meta-actions {
  height: initial;
  margin-bottom: 6px;
}

[data-testid="single-announcement-test-id"] {
  margin-top: 6px;
}

/* anouncements popup dont show again button */
.fQfxa_dqAF.fQfxa_buuG {
  border: none;
  color: var(--dm4c-90);
  background: var(--dm4c-20);
}

/* announcements popup dont show again button */
.fQfxa_caGd {
  border: none;
  outline: none;
  border-radius: 6px;
}

/* announcements popup dont show again button */
.fQfxa_fKcQ {
  font-size: 14px;
}

/* announcements popup dont show again button hover */
.fQfxa_bGBk:hover .fQfxa_dqAF.fQfxa_buuG {
  background: var(--dm4c-80);
  color: var(--dm4c-15);
  border: none;
}

/**

        !grades

*/

/* student final grades */
#student-grades-final {
  margin-bottom: 12px;
}

/* show student grades */
#student-grades-show-all {
  margin: 0;
  margin-bottom: 12px;
}

/* table row hover */
.ic-Table.ic-Table--hover-row tbody tr:hover {
  border-color: var(--dm4c-accent);
  background-color: var(--dm4c-15);
}

/* final grades row */
#grades_summary tr.final_grade {
  border-top: 2px solid var(--dm4c-25);
}

/* context for assignment title */
#grades_summary th.title .context {
  color: var(--dm4c-40);
}

/* container for assignment title */
#grades_summary th.title {
  border-bottom-color: var(--dm4c-25);
}

/* course details table */
.course_details {
  margin: 0;
  margin-top: 18px;
  border-collapse: initial !important;
  border-radius: 8px;
  background-color: var(--dm4c-15);
  padding: 18px;
}

/* table elements */
.course_details td {
  border-bottom: 1px solid var(--dm4c-25);
}

/* course title */
.course_details .course {
  padding: 12px;
}

/*


        !modules


*/

/* modules colored icon */
.ig-published:not(.student-view) .ig-type-icon {
  color: var(--dm4c-accent);
}

/* modules colored side */
.ig-list .ig-row.ig-published:not(.student-view):before {
  background-color: var(--dm4c-accent);
  border: none;
}

/*


        !modal/!popup


*/

/* containers */
.eesy_container.eesy_container_v4.eesy_light,
.eesy_container_v4.eesy_light .eesy_systray_header,
.eesy_container_v4.eesy_light .eesy_header,
.eesy_container_v4.eesy_light .eesy_hint_header,
.eesy_container_v4.eesy_light .eesy_systray_content,
.eesy_container_v4.eesy_light .eesy_content,
.eesy_container_v4.eesy_light .eesy_hint_content,
.eesy_container_v4.eesy_light .quick-survey-section {
  background: transparent;
  background-color: transparent;
  color: var(--dm4c-90);
}

/* top part of container */
.eesy_container.eesy_container_v4 {
  border-radius: 8px 8px 0 0;
  background-color: var(--dm4c-15) !important;
  color: var(--dm4c-90);
  border-color: var(--dm4c-25) !important;
}

/* bottom part of container */
.eesy_container_v4.eesy_light .quick-survey-section {
  border-radius: 0 0 8px 8px;
  background-color: var(--dm4c-15) !important;
  color: var(--dm4c-80) !important;
  border-color: var(--dm4c-25);
}

/* close button */
.eesy_container_v4.eesy_light .eesy_hint_close,
.eesy_container_v4.eesy_light .eesy_systray_close,
.eesy_container_v4.eesy_light .eesy_close {
  color: var(--dm4c-40);
}

/* scrollbar color */
.eesy_container_v4 .eesy_systray_content::-webkit-scrollbar-corner,
.eesy_container_v4 .eesy_content::-webkit-scrollbar-corner,
.eesy_container_v4 .eesy_hint_content::-webkit-scrollbar-corner {
  background-color: var(--dm4c-15);
}

/* pseudo ::schoolbar-track-piece element */
.eesy_container_v4.eesy_light .eesy_systray_content::-webkit-scrollbar-track-piece,
.eesy_container_v4.eesy_light .eesy_content::-webkit-scrollbar-track-piece,
.eesy_container_v4.eesy_light .eesy_hint_content::-webkit-scrollbar-track-piece {
  background-color: var(--dm4c-15);
}

/* pseudo ::scrollbar-thumb element */
.eesy_container_v4 .eesy_systray_content::-webkit-scrollbar-thumb,
.eesy_container_v4 .eesy_content::-webkit-scrollbar-thumb,
.eesy_container_v4 .eesy_hint_content::-webkit-scrollbar-thumb {
  background-color: var(--dm4c-25);
}

/* triangle pointer element */
.eesy_container_v4.eesy_light .eesyarrow.right:after {
  border-right-color: var(--dm4c-15);
}

/* triangle pointer element outline */
.eesy_container_v4.eesy_light .eesyarrow.right:before {
  border-right-color: var(--dm4c-25);
}

/**


        !widget


*/

/* widget overlay */
.ui-widget-overlay {
  background: var(--dm4c-15);
  opacity: 0.75;
}

/* widget container */
.ui-widget-content {
  background: var(--dm4c-15);
  color: var(--dm4c-95);
}

/* widget container */
.ui-dialog.ui-widget-content {
  box-shadow: none;
  border-radius: 8px;
  border: 1px solid var(--dm4c-25);
}

/* widget close button */
.ui-dialog .ui-dialog-titlebar-close:focus {
  box-shadow: 0 0 0 2px var(--dm4c-accent);
}

/* widget header */
.ui-dialog .ui-dialog-titlebar.ui-widget-header,
.ui-dialog .ui-datepicker .ui-widget-header.ui-datepicker-header,
.ui-datepicker .ui-dialog .ui-widget-header.ui-datepicker-header {
  background: var(--dm4c-15);
  border-bottom: 1px solid var(--dm4c-25);
}

/* widget bottom section */
.ui-datepicker .ui-datepicker-time,
.ui-dialog .ui-dialog-buttonpane {
  background: var(--dm4c-15);
  border-top: 1px solid var(--dm4c-25);
}

/**


END COMMENTED SECTION 


*/
.eHQDY_ddES .eHQDY_eWAY {
  stroke: #757575;
}

.Day-styles__root,
body,
#grades_summary td a,
#grades_summary th a {
  color: #e6e6e6;
}

.Day-styles__secondary,
.Day-styles__root,
.enRcg_bGBk.enRcg_ycrn,
input.enRcg_bGBk[type].enRcg_ycrn,
.eHiXd_bNlk.eHiXd_ycrn,
.eHiXd_eESV.eHiXd_ycrn,
a.eHiXd_bNlk.eHiXd_ycrn,
a.eHiXd_eESV.eHiXd_ycrn,
button.eHiXd_bNlk.eHiXd_ycrn,
button.eHiXd_bNlk[type="button"].eHiXd_ycrn,
button.eHiXd_bNlk[type="reset"].eHiXd_ycrn,
button.eHiXd_bNlk[type="submit"].eHiXd_ycrn,
button.eHiXd_eESV.eHiXd_ycrn,
button.eHiXd_eESV[type="button"].eHiXd_ycrn,
button.eHiXd_eESV[type="reset"].eHiXd_ycrn,
button.eHiXd_eESV[type="submit"].eHiXd_ycrn,
body,
.MlJlv_ycrn .MlJlv_ebWM,
.MlJlv_ycrn .MlJlv_cjSw,
.eoNrR_blJt,
.sJGfW_bGBk,
.blnAQ_dnfM,
.jpyTq_ycrn,
.ic-DashboardCard__header-term,
.cvphu_caGd,
#breadcrumbs>ul>li,
.fNHEA_cjSw.fNHEA_ycrn .fNHEA_bOnW .fNHEA_blJt,
.ic-item-row__content-col h3,
.enRcg_bGBk.enRcg_doqw,
input.enRcg_bGBk[type].enRcg_doqw,
.recent-activity-header {
  /* default font size */
  font-size: 14px;
}

span.enRcg_bGBk.enRcg_cMDj.enRcg_eQnG {
  /* font size for more important items */
  font-size: 18px;
}

.enRcg_bGBk.enRcg_cMDj,
input.enRcg_bGBk[type].enRcg_cMDj {
  font-size: 28px;
}

.Day-styles__secondary,
.PlannerItem-styles__root,
.enRcg_bGBk.enRcg_bdMA,
input.enRcg_bGBk[type].enRcg_bdMA,
.Grouping-styles__title,
label,
input,
button,
select,
textarea,
.eoNrR_blJt,
.blnAQ_dnfM,
.fbyHH_bGBk,
a.fbyHH_bGBk,
button.fbyHH_bGBk,
.header-bar,
a,
* {
  font-weight: normal !important;
}

.fOyUs_ImeN,
[dir="ltr"] .fOyUs_ImeN,
[dir="rtl"] .fOyUs_ImeN,
[dir="ltr"] .Grouping-styles__title {
  text-align: left;
}

.Grouping-styles__title,
.eHiXd_bPzo.eHiXd_ycrn,
a.eHiXd_bPzo.eHiXd_ycrn,
button.eHiXd_bPzo.eHiXd_ycrn,
button.eHiXd_bPzo[type="button"].eHiXd_ycrn,
button.eHiXd_bPzo[type="reset"].eHiXd_ycrn,
button.eHiXd_bPzo[type="submit"].eHiXd_ycrn {
  height: 100%;
}

.Grouping-styles__title {
  max-height: none;
}

.NotificationBadge-styles__activityIndicator {
  width: 0px;
}

.ic-app-footer .terms-of-service__link {
  margin: 0px !important;
}

button.fOyUs_bGBk.eHiXd_bGBk.eHiXd_dnnz.eHiXd_ycrn.eHiXd_bPzo.eHiXd_cuTS.eHiXd_wWyq {
  margin: 0px 24px;
}

.NotificationBadge-styles__activityIndicator,
.blnAQ_kWwi {
  padding: 0px;
}

.PlannerItem-styles__type,
.PlannerItem-styles__title,
.enRcg_bGBk.enRcg_cMDj.enRcg_bdMA.enRcg_eQnG {
  margin-bottom: 4px;
}

.ic-DashboardCard__header-term {
  margin-top: 4px;
}

.ic-app-header__menu-list {
  margin-top: 12px;
}

footer#footer {
  margin-top: 24px;
}

.Day-styles__root.planner-day.planner-today {
  /* margin-top: 120px; */
}

.Grouping-styles__title,
.Grouping-styles__overlay,
.ic-app-header,
.header-bar {
  background-color: transparent !important;
}

ol.Grouping-styles__items,
.PlannerItem-styles__root,
.blnAQ_kWwi,
.ic-Dashboard-header__layout,
button#planner-today-btn,
.CompletedItemsFacade-styles__root,
.dLyYq_bGBk,
.ic-app-footer,
.ic-DashboardCard__header_hero,
.header-bar,
.recent-activity-header {
  border: none;
}

[dir="ltr"] .Grouping-styles__hero,
[dir="ltr"] .Grouping-styles__overlay,
button#planner-today-btn,
.cvphu_pypk .cvphu_dnnz {
  border-right: 1px solid #424242;
}

.fLzZc_fSpQ {
  border-left: 1px solid #424242;
}

hr {
  border-top: 1px solid #424242;
}

.ic-DashboardCard__header_hero {
  border-bottom: 1px solid #424242;
}

.eHiXd_brAJ,
.eHiXd_eTYR,
a.eHiXd_brAJ,
a.eHiXd_eTYR,
button.eHiXd_brAJ,
button.eHiXd_eTYR,
button.eHiXd_eTYR[type="button"],
button.eHiXd_eTYR[type="reset"],
button.eHiXd_eTYR[type="submit"],
button.eHiXd_brAJ[type="button"],
button.eHiXd_brAJ[type="reset"],
button.eHiXd_brAJ[type="submit"],
.ic-app-header__menu-list-link,
.ic-DashboardCard__header-title,
.ic-DashboardCard__header-subtitle,
.ic-DashboardCard__header-term {
  text-decoration: none !important;
}

.ic-Dashboard-header__layout {
  justify-content: flex-end;
}

span.fOyUs_bGBk.fOyUs_cuDs.fOyUs_fQrx.dqmEK_ftAV.dqmEK_cFhg {
  top: 12px !important;
}

.eHiXd_bPzo.eHiXd_ycrn,
a.eHiXd_bPzo.eHiXd_ycrn,
button.eHiXd_bPzo.eHiXd_ycrn,
button.eHiXd_bPzo[type="button"].eHiXd_ycrn,
button.eHiXd_bPzo[type="reset"].eHiXd_ycrn,
button.eHiXd_bPzo[type="submit"].eHiXd_ycrn {
  width: inherit;
}

button#planner-today-btn,
div#dashboard-planner-header {
  margin-right: 12px !important;
}

.PlannerItem-styles__root {
  padding-right: 16px !important;
}

.eHQDY_dTxv {
  stroke: none;
}

.eHQDY_eWAY {
  stroke-linecap: square;
}

.PlannerHeader-styles__root {
  height: 36px;
}

.ic-DashboardCard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.no-touch .ic-DashboardCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* load more button on dashboard */

#dashboard-planner>div>div:last-child>div {
  padding: 0px !important;
  margin-top: 48px;
  margin-bottom: 24px;
}

#dashboard-planner>div>div:last-child>div>button {
  border: 2px solid #ffffff5a;
  width: fit-content;
  text-decoration: none;
  border-radius: 0px;
}

/* end */

/* grouping items */

ol.Grouping-styles__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* dm4c image */

.dm4c-image {
  position: absolute;
  z-index: 99;
}

.dm4c-image .hidden {
  display: none;
}

.ic-app-header__menu-list-link:hover,
.ic-app-header__menu-list-link:focus {
  color: #9e9e9e;
  fill: #9e9e9e;
}

.list-view #section-tabs-header-subtitle {
  font-style: normal;
}

.ic-app-nav-toggle-and-crumbs {
  background-image: none;
}

.ic-app-nav-toggle-and-crumbs {
  border: none;
}

.ic-app-nav-toggle-and-crumbs {
  margin: 0 0 0 12px;
}

.ic-sticky-frame {
  padding: 0;
}

body.primary-nav-expanded .ic-app-header {
  width: 100px;
}

@media (min-width: 768px) {
  body:not(.no-headers).primary-nav-expanded .ic-Layout-wrapper {
    margin-left: 100px;
  }
}

.ic-app-course-menu #section-tabs-header-subtitle {
  padding: 8px 0px 8px 6px;
}

#assignment_show .assignment-title {
  margin-bottom: 12px;
}

body.primary-nav-expanded .menu-item__text {
  color: inherit;
}

.item-group-container,
.context_module_item.context_module_item_hover {
  background: transparent;
}

.ig-list .ig-row:hover {
  background-color: #333333;
}

.ig-header .name,
.accessible-toggler:hover,
.accessible-toggler:focus {
  text-shadow: none;
  color: #e6e6e6;
}

.context_module .items,
ul.collectionViewItems.ig-list,
.ig-list .ig-row.ig-row-empty {
  border-radius: 8px;
  background: transparent;
}

.ig-list .ig-row a.ig-title,
.ig-list .ig-row,
.accessible-toggler {
  color: #e6e6e6;
}

.context_module {
  margin: 0;
}

.ig-list .ig-row.ig-row-empty {
  background-color: #262626;
  color: #404040;
}

.pill {
  box-shadow: none;
  border: none;
  background-color: #404040;
  padding: 2px 4px;
}

.ic-item-row {
  box-shadow: none;
}

.blnAQ_bGBk {
  line-height: 18px;
}

div#announcements_on_home_page {
  background-color: #262626;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 24px;
  border: 1px solid var(--dm4c-25);
}

.todo-list.Sidebar__TodoListContainer {
  background-color: #262626;
  border-radius: 8px;
  padding: 18px;
  margin: 24px 0;
  border: 1px solid var(--dm4c-25)
}

#right-side h2,
#right-side .h2 {
  border: none;
}

#right-side .todo-list-header {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
}

ul#planner-todosidebar-item-list {
  margin: 0;
}

span.fOyUs_bGBk.fOyUs_UeJS {
  margin: 0 !important;
}

.cRLeC_bGBk.cRLeC_KksD {
  margin-right: 12px !important;
}

.ic-item-row__content-col {
  margin: 0;
  margin-left: 24px;
}

.ic-item-row__meta-col .ic-item-row__meta-content p {
  margin: 0;
}

.list-view>ul>li>a:focus,
.list-view>nav>ul>li>a:focus,
.list-view>div>nav>ul>li>a:focus,
* {
  outline: none !important;
}

.btn:focus,
.Button:focus,
.ui-button:focus,
button.element_toggler:focus {
  box-shadow: none;
}

.fNHEA_cjSw .fNHEA_cSXm::before {
  border: none;
}

.ToDoSidebarItem {
  margin: 0;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  body.course-menu-expanded:not(.ic-no-flex-layout):not(.embedded):not(.is-inside-submission-frame) .ic-Layout-columns {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1140px) {
  body.course-menu-expanded:not(.ic-no-flex-layout):not(.embedded) .ic-Layout-contentWrapper {
    flex: 3;
  }
}

.with-right-side #right-side-wrapper {
  flex: 1;
}

body:not(.full-width):not(.outcomes):not(.body--login-confirmation) .ic-Layout-wrapper {
  max-width: 1600px;
}

#right-side .events_list li.event i.icon-check,
#right-side .events_list li.todo i.icon-check,
#right-side .to-do-list li.event i.icon-check,
#right-side .to-do-list li.todo i.icon-check {
  color: #8e99f3;
}

[aria-label="Assignment Weights"],
.ic-Dashboard-Activity {
  background-color: #262626;
  border-radius: 8px;
  border: 1px solid var(--dm4c-25);
  padding: 18px;
}

table.summary td,
table.summary tbody th {
  background-color: transparent;
}

table.summary thead th,
table.summary caption {
  border: none;
}

#right-side table.summary tbody th {
  line-height: 18px;
}

#right-side .events_list {
  background-color: #262626;
  border-radius: 8px;
  padding: 18px;
  border: 1px solid var(--dm4c-25);
}

#right-side .events_list .event-details:after,
#right-side .events_list .todo-details:after,
#right-side .to-do-list .event-details:after,
#right-side .to-do-list .todo-details:after {
  background: none;
}

#right-side .right-side-list li em,
#right-side .right-side-list li p {
  color: #cccccc;
}

#right-side .right-side-list {
  margin: 0;
}

#syllabus tr.date.date_passed td,
#syllabus tr.date.date_passed th {
  background-color: transparent;
}

.ic-Table th,
.ic-Table td {
  border-bottom-color: #404040;
}